{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<main>
    <section class="py-5">
        <div class="container mt-3">
            <h1>{% trans "Change Password" %}</h1>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-card" name="action">{% trans "Change Password" %}</button>
                <a class="linkcolor" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </section>
</main>
{% endblock content %}