{% load static %}
{% load bootstrap5 %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand logo" href="{% url 'home' %}"><img class="logotype"
                src="{% static 'images/logo.png' %}" alt="Logotype">Mayas Cat Shelter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cats' %}">Our cats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rules' %}">Adoption</a>
                </li>
                {% if user.is_staff %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Administration
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="nav-link small" href="{% url 'administration' %}">Cats</a></li>
                        <li><a class="nav-link small" href="{% url 'adopters-list' %}">Adoption Requests</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_login' %}">Staff Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>