html { 
  height: 100%;
  box-sizing: border-box;
}
:root {
  --color: #1D3557;
}
body {
  /* margin-bottom: 60px;  */
  font-size: 0.8rem;
  font-family: "Prompt", sans-serif !important;
  color: #1D3557 !important;
  background-color: #f1faee;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  box-sizing: inherit;
}
.prompt-regular {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main {
  position: relative;
  padding-top: 100px;
}
h1, h2, h3 {
    text-transform: uppercase;
    font-family: "Prompt", sans-serif !important;
    color: #1D3557;
    font-weight: 400;
}
h4 {
  text-transform: uppercase !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}
h6 {
  font-size: 0.8rem;
}
.linkcolor {
  color: #1D3557 !important;
}

/* Navigation */
.logo {
  font-family: 'Playpen Sans', sans-serif, cursive;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #a8dadc;
  color: #1D3557;
  margin-right: 0;
  letter-spacing: -0.9;
}
.bg-light {
  background-color: #a8dadc !important;
  color: #1D3557 !important;
}
.nav-link {
  color: #1D3557;
}
.navbar-light .navbar-brand {
  color: #1D3557;
}
.navbar-light .navbar-nav .nav-link {
  color: #1D3557;
  font-size: 1.1rem;
}
.navbar-toggler-icon {
  color: #1D3557 !important;
  width: 1.3em;
  height: 1.3em;
}
.dropdown-menu {
  background-color: #a8dadc;
  border-radius: 10px;
  border: none;
}
.nav-listtext {
  font-size: o.9rem !important;
}



/* Bootstrap Alerts */
.alert {
  position: fixed;
  width: fit-content;
  right: 0;
  left: 0;
  margin: auto;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  text-align: center;
  z-index: 9999;
  background-color: #f1faee;
  border: 2px solid #1D3557;
  border-radius: 10px;
  font-size: 1.2rem;
}

/* Footer  */
.footer {
  margin-top: auto;
  position: sticky;
  width: 100%;
  /* height: 60px;  */
  /* line-height: 60px;  */
  background-color: #a8dadc;
  color: #1D3557;
  font-size: .8rem;
}
.footer i {
  color: #1D3557;
  /* font-size: 1.2rem; */
}

/* Home Page */
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  font-size: 1.25rem;
}
.carousel-caption h5 {
  font-size: 2rem;
  color: #f1faee;
}
.carousel-caption a {
  text-decoration: none;
}
.carousel-caption h5:hover {
  font-size: 2.5rem;
}

/* Cats page */
.card-body {
color: #1D3557;
}
.card-text {
  font-size: 1em;
}
.female {
  color: #e63946;
}
.male {
  color: #457b9d;
}
th {
  text-transform: uppercase !important;
  font-size: 0.8rem !important;
  font-weight: 400;
}
td {
  font-size: 0.8rem !important;
}
.btn-right {
  text-align: right;
  padding-right: 40px;
}

/* Login/Logout page */
.auth-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Adoption form */
fieldset, legend {
  all: revert;
}
fieldset.custom-border {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}
legend.custom-border {
  text-transform: uppercase;
}
.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  margin-left: 0 !important;
  margin-top: 0 !important;
  padding: 0.25rem 0.75rem;
  max-width: 100%;
  resize: none;
  height: 1.5rem;
  vertical-align: middle !important;
  overflow: visible;
  word-break: keep-all;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
}
.select2-container .select2-search--inline .select2-search__field::placeholder {
  vertical-align: middle;
}
.select2-results__options {
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  line-height: 0.8 !important;
  font-size: 0.8rem !important;
}
.form-control {
  color: grey;
  font-family: "Prompt", sans-serif;
  border-radius: 10px;
  font-size: 0.8rem;
}
.form-select[multiple], .form-select[size]:not([size="1"]) {
  border-radius: 10px !important;
}
option {
  /* min-height: 1.2em; */
  padding: 0px 0.7px 0.7px;
  font-size: 0.8rem;
  line-height: 0.8;
}
/* Phone number input fields */
#id_phone_0 {
  width: 33%;
}
#id_phone_1 {
  width: 60%;
}
#div_id_phone {
  flex-direction: row !important;
  display: flex !important;
  gap: 5px;
}

/* Adoption process page */
/* Replace list bullets with paw icon */
.pawlist {
	position: relative;
	list-style: none;
	margin-left: 0;
  text-indent: -1em;
}
.pawlist p {
  text-indent: 0;
}
.pawlist li:before {    
  font-family: 'FontAwesome';
  content: '\f1b0';
  margin: 0 10px 0 -10px;
}
.card {
  border-radius: 10px !important;
  font-family: "Prompt", sans-serif !important;
  color: #1D3557 !important;
  border: #1D3557 !important;
}
.card img {
  padding-bottom: 16px;
}
.card-img-top {
  width: 100%;
  height: 20vh;
  object-fit: contain;
}
.card-footer {
  background-color: transparent;
  border: none;
}
/* Buttons */
.btn-common {
  border-radius: 10px;
  border: 2px solid #1D3557;
  color: #1D3557;
  transition-duration: 0.7s;
  text-decoration: none;
  padding: 0.25rem 1rem;
  text-align: center;
  font-weight: 400;
}
.btn-common:hover,
.btn-card:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  box-shadow: 0 5px 8px 0 rgb(29, 53, 87, 0.5);
  font-size: 1rem;
  color: #1D3557;
}
.btn-card {
  border-radius: 10px;
  border: 2px solid #1D3557;
  background-color: #a8dadc;
  color: #1D3557;
  transition-duration: 0.7s;
  text-decoration: none;
  padding: 0.25rem 1rem;
  text-align: center;
  font-weight: 400;
}
input[type="submit"], input[type="reset"] {
  border-radius: 10px;
  border: 2px solid #1D3557;
  color: #1D3557;
  transition-duration: 0.7s;
  text-decoration: none;
  padding: 0.25rem 1rem;
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
}
input[type="submit"] {
  background-color: #a8dadc;
}
input[type="reset"] {
  background-color: #f1faee;
}
.btn-danger {
  border-radius: 10px !important;
  transition-duration: 0.7s;
  text-decoration: none;
  padding: 0.25rem 1rem;
  text-align: center;
  font-weight: 400;
}
.top-20 {
  top: 12% !important;
  z-index: 1000;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .logotype {
    display: none;
  }
  .carousel-item {
    height: 45vh;
    /* min-height: 350px; */
}
@media screen and (min-width: 576px) {
  body, h4 {
    font-size: 1rem;
  }
  .logotype {
    padding-right: 30px;
  }
  .logo {
    font-size: 2rem;
    margin-right: 1rem;
    letter-spacing: normal;
  }
  .footer {
    height: 60px; 
    line-height: 60px; 
  }
  .footer i {
    color: #1D3557;
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
}