{% extends 'base.html' %}


{% block content %}
<h1>This is the cats page</h1>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cat name</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Gender: </li>
      <li class="list-group-item">Born: </li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Edit</a>
      <a href="#" class="card-link">Delete</a>
      <a href="#" class="card-link">Adopt</a>
    </div>
  </div>

{% endblock content %}


<h1>This is the cats page</h1>