{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}

{% block content %}
<main>

    <div class="container">
        <section class="py-5">
            <div class="container mt-3">
                <h1 class="fw-light">Please complete and submit to add a cat</h1>
            </div>
            <div class="container mt-3">

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                        </div>
                    </div>
                    <div buttons>
                        <span><input type="submit" value="Submit"></span>
                        <span><input type="reset" value="Reset"></span>
                    </div>
                    </form>
                </div>
            </div>
        </section>
</main>
{% endblock %}