{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}

{% block content %}
<main>
    <section class="py-2">
        <div class="container mt-3">
            <div class="row">
                <h1 class="fw-light">Adoption Update</h1>
            </div>
        </div>
        <div class="container mt-3">
            <div class="card mb-3">
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-0">
                        <div class="col-md-5">
                            <div class="card-body custom-border">
                                <div class="card-text">
                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-4 pt-2">
                                                <h4>Name: </h4>
                                            </div>
                                            <div class="col-8">
                                                {{ form.full_name | as_crispy_field }}</div>
                                            <div class="col-4 pt-2">
                                                <h4>Date of birth: </h4>
                                            </div>
                                            <div class="col-8">{{ form.date_of_birth| as_crispy_field }}</div>
                                            <div class="col-4 pt-2">
                                                <h4>E-Mail: </h4>
                                            </div>
                                            <div class="col-8">{{ form.email | as_crispy_field }}</div>
                                            <div class="col-4 pt-2">
                                                <h4>Phone: </h4>
                                            </div>
                                            <div class="col-8">{{ form.phone | as_crispy_field }}</div>
                                            <div class="col-4 pt-2">
                                                <h4>Status: </h4>
                                            </div>
                                            <div class="col-8">{{ form.status | as_crispy_field }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body custom-border">
                                {{ form.about_you | as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <hr>
                            <div class="col-md-5">
                                <div class="card-body custom-border">
                                    <div class="col-4">
                                        <h4>Selected cats: </h4>
                                    </div>
                                    <div class="col-8">{{ adoption.cats.all|join:"<br>" }}</div>
                                    {{ form.cats | as_crispy_field}}
                                    <div>
                                        <span><input type="submit" value="Update"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body custom-border">
                                    <div>
                                        <h4>Comments:</h4>
                                    </div>
                                    {{ form.comments | as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}