{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}

{% block content %}
<main>
    <div class="container">
        <h2>Please complete and submit to add a cat</h2>
    </div>
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div buttons>
                <span><input type="submit" value="Submit"></span>
                <span><input type="reset" value="Reset"></span>
            </div>
        </form>
    </div>
</main>
{% endblock %}