{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block content %}
<main>
  <section class="py-5">
    <div class="container mt-3">
      <div class="row">
      <h1 class="fw-light">Adoption Process</h1>
    </div>

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="static/images/borna-bevanda-VwqecUsYKvs-unsplash.webp" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Things to consider before adopting a cat</h5>
            <p class="card-text">To adopt a cat from a cat shelter involves a lot of responsibility. Cats who come to
              our cat shelter have often been homeless for some reasons, or need a new home due to illness or death of
              their previous owners. We don't want our cats to go through such a traumatic experience again so we are
              very carefully in chosing a new home. </p>
              <p>Questions you need to ask yourself are:</p>
              <ul class="pawlist">
                <li>Does your financial situation allow for unexpected expenditures, like acute veterinary care which can be expensive even with an insurance? </li>
                <li>Can you afford high-quality food, insurance and litter even in a couple of years? </li>
                <li>Do you have enough time for a cat? </li>
                <li>Do you have somebody who can take care of the cat if you are sick or when you travel? </li>
              </ul>
            
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="lead">Here you will soon find some information about our adoption process.</p>
    </div>
    </div>
  </section>

  <div class="container">
    <a href="{% url 'adoption' %}" class="btn btn-secondary">Apply to adopt a cat</a>
    
  </div>


</main>
  {% endblock %}
