{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}

{% block content %}
<main>
    <section class="py-2">
        <div class="container mt-3">
            <div class="row">
                <h1 class="fw-light">Please complete the form.</h1>
                <p>Our ambition is to answer your request within 2 weeks.</p>
            </div>
        </div>
        <div class="container mt-3">
            <div class="card mb-3">
                <div class="row green-bg">
                    <form action="{% url 'adoption' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-12 col-md-8">
                            <div class="card-body custom-border green-bg">
                                <div class="card-text">
                                    <div class="form-group green-bg">
                                        <fieldset class="custom-border">
                                            <legend class="custom-border">
                                                <h5>Your Details: </h5>
                                            </legend>
                                            {{ form.full_name | as_crispy_field }}
                                            {{ form.email | as_crispy_field }}
                                            {{ form.phone | as_crispy_field }}
                                            <div class="form-control green-bg p-0">Date of birth *
                                                {{ form.date_of_birth | as_crispy_field }}</div>
                                            {{ form.about_you | as_crispy_field }}
                                        </fieldset>
                                        <fieldset class="custom-border mt-3">
                                            <legend class="custom-border">
                                                <h5>Cat to adopt: </h5>
                                            </legend>
                                            <div class="cat_selection">
                                                {{ form.cats | as_crispy_field }}
                                            </div>
                                        </fieldset>
                                        <div class="col-md-8">
                                            <span><input type="submit" value="Submit"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

{% block scripts %}

{% endblock %}
{% block selectscript %}
<script>
$(document).ready(function() {
    $('#id_cats').select2({
        maximumSelectionLength: 3,
        placeholder: 'Select up to 3 cats'
    });
});
</script>
{% endblock %}