{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block content %}
<main>
  <section class="py-5">
    <div class="container mt-3">
      <div class="row">
      <h1 class="fw-light">Adoption Rules!</h1>
    </div>
    <div class="row">
      <p class="lead">Here you will soon find some information about our adoption process.</p>
    </div>
    </div>
  </section>

  <div class="container">
    <a href="{% url 'adoption' %}" class="btn btn-secondary">Register to adopt a cat</a>
    
  </div>


</main>
  {% endblock %}
