{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<main>
	<section class="py-2">
		<div class="container mt-3">
			<div class="row">
				<h1 class="fw-light">Adoption Rules and Process</h1>
			</div>
			<div class="card mb-3">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="https://res.cloudinary.com/dhciyvwx5/image/upload/v1711060639/static/images/borna-bevanda-VwqecUsYKvs-unsplash.ebe459aaf8a0.webp"
							class="img-fluid rounded-start p-3" alt="Image Cat">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Things to consider before adopting a cat</h5>
							<p class="card-text">To adopt a cat from a cat shelter involves a lot of responsibility.
								Cats who come to
								our cat shelter have often been homeless for some reasons, or need a new home due to
								illness or death of
								their previous owners. We don't want our cats to go through such a traumatic experience
								again so we are
								very carefully in chosing a new, forever home. </p>
							<p>Questions you need to ask yourself:</p>
							<ul class="pawlist">
								<li>Does your financial situation allow for unexpected expenditures, like acute
									veterinary care which
									can be expensive even with an insurance? </li>
								<li>Can you afford high-quality food, litter and insurance even in a couple of years?
								</li>
								<li>Do you have enough time for a cat? </li>
								<li>Is there a risk that you need to move to a place where pets are not allowed?</li>
								<li>Do you have somebody who can take care of the cat if you are sick or when you
									travel? </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-3">
				<div class="row g-0">
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Adoption fee and common information</h5>
							<p class="card-text">Adoption fee for a cat is 2000 SEK. </p>
							<p>The cat will be:</p>
							<ul class="pawlist">
								<li>Spayed or neutered <small class="text-muted">*see also Adoption of kittens</small>
								</li>
								<li>Microchipped and registered </li>
								<li>Vaccinated and dewormed </li>
								<li>Veterinary checked</li>
								<li>Insurance policy can be taken over when adopting a cat</li>
							</ul>
							<p>Adoption of kittens:</p>
							<ul class="pawlist">
								<li>Kittens are not adopted out before they are 14 weeks old.</li>
								<li>We do not allow adoptions of single kittens as kittens do need playmates. Exceptions
									are possible if
									you do have a younger cat at home already. </li>
								<li>The adopter commits to spay/neuter the kitten before it reaches the age of 6 months.
									We require
									evidence that this has been done (e.g. vet bills) and reserve the right to take the
									kitten back if
									there is a breach of contract.
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<img src="https://res.cloudinary.com/dhciyvwx5/image/upload/v1711060643/static/images/little-plant-WHx8_Dq01IM-unsplash.83658123807a.webp"
							class="img-fluid rounded-start p-3" alt="Image Kittens">
					</div>
				</div>
			</div>
			<div class="card mb-3">
				<div class="row g-0 mb-2">
					<div class="col-md-12">
						<div class="card-body">
							<h5 class="card-title">Steps to adoption</h5>
							<p class="card-text"></p>
							<ul class="pawlist">
								<li>Step 1:
									<p>Check out our cats and fill in the adoption form on our website. Up to three cats
										may be selected.
									</p>
								</li>
								<li>Step 2:
									<p>We contact you by telephone and invite you to visit us and the cat you want to
										adopt.</p>
								</li>
								<li>Step 3:
									<p>During your visit we will go through the adoption contract with you and ask
										additional questions
										about your living situation. We will agree on a time for a home
										visit to meet your family and your other pets and to check out if your housing
										situation suits the
										selected cat.</p>
								</li>
								<li>Step 4:
									<p>After the home visit and when we approve your adoption request, you are required
										to visit your cat
										at least three more times within a 14 days period. We encourage you to leave
										some clothes or similar
										items so that the cat can get familiar to your smell. </p>
								</li>
								<li>Step 5:
									<p>On the agreed date and time you come to pick up your cat. You sign the adoption
										contract and pay
										the adoption fee. We also recommend to update the registration data while at our
										office. </p>
									<p>You will get access to our private Facebook group where you can ask questions and
										connect with
										other adopters. We also encourage you to use the group to post updates, just
										because we love to hear
										from our cats.</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="container">
							<a href="{% url 'adoption' %}" class="btn-card mt-5">Adoption form</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
  {% endblock %}
