{% extends 'base.html' %}


{% block content %}
{% load crispy_forms_tags %}
<main>
    <div class="container">
        <h2>Please complete the form.</h2>
        <p>Our ambition is to answer your request within 2 weeks.</p>
    </div>
    <div class="container">
        
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div buttons>
                <span><input type="submit" value="Submit"></span>
                <span><input type="reset" value="Reset"></span>
            </div>
        </form>
    </div>
</main>

{% endblock content %}