{% extends 'base.html' %}
{% block content %}


<h1>This is the cats page</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for cat in cats %}
    <div class="col">
      <div class="card">
        <img src="{{ 'cat.image_URL' }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ cat.catname }}</h5>
          <p class="card-text">Born: {{ cat.born }}</p>
          <p class="card-text">Gender: {{ cat.gender }}</p>
          <p class="card-text">Description:</p>
          <p class="card-text">{{ cat.description }}</p>
          <div class="card-body">
            <a href="{% url 'update-cat' cat.id %}" class="card-link">Edit</a>
            <a href="{% url 'delete-cat' cat.id %}" class="card-link">Delete</a>
            <a href="#" class="card-link">Adopt</a>
        </div>
        </div>
      </div>
    </div>
    {% endfor %}
    

{% endblock %}
