{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block content %}
<main>
<div class="container mt-5">
  <h2>Cats available for adoption</h2>
  <p></p>
</div>
<div class="container mt-3">
  <div class="card-group">
    <div class="row">
      {% for cat in cats %}
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title cat_name" name="cat_name">{{ cat.name | upper }}</h3>
              {% if "placeholder" in cat.image.url %}
              <img src="https://res.cloudinary.com/dhciyvwx5/image/upload/v1703268464/default_di3p4z.webp" class="card-img-top" alt="...">
              {% else %}
              <img src="{{ cat.image.url }}" class="card-img-top" alt="...">
              {% endif %}
              <div class="card-text">
                <p>Born: {{ cat.born }}</p>
                <p>Gender: {{ cat.gender }}</p>
                <p>
                  <h6 class="card-title">Background & Temperament:</h6>
                </p>
                <p>{{ cat.description }}</p>
                <p>{{ cat.adopt_status }}</p>
              </div>
              <div class="card-body">
                <!-- <form action="{% url 'adoption' %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-secondary" value="Adopt">
                </form> -->
                <a class="btn btn-secondary" href="{% url 'adoption' %}">Adopt</a>

              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


</main>

{% endblock %}
