{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
			aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
			aria-label="Slide 2"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active"
			style="background-image: url('https://res.cloudinary.com/dhciyvwx5/image/upload/v1711385341/cover_cat1.webp')">
			<div class="carousel-caption">
				<a href="{% url 'cats' %}">
					<h5>Our Cats</h5>
				</a>
				<p>Check out our cats that are looking for a forever home</p>
			</div>
		</div>
		<div class="carousel-item"
			style="background-image: url('https://res.cloudinary.com/dhciyvwx5/image/upload/v1711385341/cover_cat2.webp')">
			<div class="carousel-caption">
				<a href="{% url 'rules' %}">
					<h5>Want to adopt a cat?</h5>
				</a>
				<p>Check out our adoption rules!</p>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
<section class="py-5">
	<div class="container">
		<h1 class="fw-light">Welcome to Mayas Cat Shelter!</h1>
		<p class="lead">Giving cats a second chance.</p>
		<p>Our mission is to help homeless cats and give them a chance for a better life.Our shelter is located in
			Gävle, Sweden, and provides food, veterinary care, socialisation, love and attention to our cats. </p>
		<p>Many of the cats who come to us have been homeless for a while and are scared of people. For these cats,
			socialisation is extremly important to increase their chances for adoption.
			In some cases, we are also asked to find new homes for cats whose owners got sick or died. </p>

		<p>Run by volunteers, we provide cats with a homely environment where they can feel safe and build up their
			confidence before being adopted.
			Our goal is to provide forever homes, and we carefully check all adoption requests to find the perfect match
			between cat and human family.</p>
		<p>Our operation relies entirely on private donations and the immense dedication of our volunteers. </p>
	</div>
</section>

  {% endblock %}